.form-section {
  display: flex;
  flex-direction: row;
  box-sizing: content-box;

  input {
    width: 400px;
    padding: 7px;
    background: $bgc;
    border: none;
  }

  .btn-Add {
    width: 100px;
    color: $text;
    background: $principal;
    border: none;
    font-size: 1.5rem;
  }

  .btn-Add:hover {
    color: $textS;
    background: $secondaire;
  }

}