.form-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 500px;

  input {
    width: 350px;
    padding: 7px;
    background: $bgc;
    border: none;
    border-bottom: 1px solid black;
  }

  .btn-Add {
    width: 100px;
    color: $text;
    background: $principal;
    border: none;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 7px;
  }

  .btn-Add:hover {
    color: $textS;
    background: $secondaire;
  }

}