.todo-list {
  background: $principal;
  padding: .5rem 1.5rem;
  font-size: 1.2rem;
  margin-bottom: .2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 500px;
  min-height: 50px;
  word-wrap:break-word;
  text-align: justify;
}


.complete {
  color: $textS;
  background: $secondaire;
  text-decoration: line-through;
}

.complete-Icon {
  display: none;
}

.update-Icon {
  display: none;
}

.inputUpdate {
  background: $principal;
  border: none;
  border-bottom: 1px black solid;
  width: 300px;
}

.btn-update {
  background-color: $secondaire;
  color: white;
  border: none;
  border-radius: 10px;
  padding: .2rem .7rem;
}

.btn-update:hover {
  background-color: $text;
  color: $textS;
}